In [15]:
numbers = [*range(1, 10)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
max(numbers)

9

In [22]:
numbers_list = [*range(0, 100, 5)]
print(numbers_list)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [23]:
min(numbers_list)

0

In [24]:
names = ['Rody', 'Kiran', 'Joe']
min(names)

'Joe'

In [25]:
sorted(names)

['Joe', 'Kiran', 'Rody']

In [26]:
'-'.join(['Jan', 'Feb', 'Mar'])

'Jan-Feb-Mar'

In [27]:
print('This person is {}, {}, and {}'.format('tall', 'slim', 'blonde'))

This person is tall, slim, and blonde

In [28]:
months = ['Jan', 'Feb', 'Mar']
months.append('Apr')
months

['Jan', 'Feb', 'Mar', 'Apr']